p {
    background-color: var(--bg, orange);
    color: var(--fg, var(--bs-primary, purple));
    font-size: calc(var(--font-size) * 4);
    width: calc(100% / var(--no-of-columns, 2));
    float: left;
    padding: 0.5rem;
}
