@page "/CssVariables"

<div id="cssvariables_@Id">
    <div>
        <label>No of columns: </label><input type="number" @bind="NoOfColumns" min="1" max="6" />
        <label>Font size: </label><input type="number" @bind="FontSize" min="3" max="20" />
        <label>Background colour: </label><input type="color" @bind="BackgroundColour" />
        <label>Foreground colour: </label><input type="color" @bind="ForegroundColour" />
    </div>

    <br />
 
    <div>
        <p>This is a paragraph that can be replicated to show text.</p>
        <p>This is a paragraph that can be replicated to show text.</p>
        <p>This is a paragraph that can be replicated to show text.</p>
        <p>This is a paragraph that can be replicated to show text.</p>
        <p>This is a paragraph that can be replicated to show text.</p>
        <p>This is a paragraph that can be replicated to show text.</p>
        <p>This is a paragraph that can be replicated to show text.</p>
        <p>This is a paragraph that can be replicated to show text.</p>
        <p>This is a paragraph that can be replicated to show text.</p>
        <p>This is a paragraph that can be replicated to show text.</p>
        <p>This is a paragraph that can be replicated to show text.</p>
        <p>This is a paragraph that can be replicated to show text.</p>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; } = "";

    [Parameter]
    public string BackgroundColour { get; set; } = "#ffff00";

    [Parameter]
    public string ForegroundColour { get; set; } = "var(--bs-primary, #0000ff)";

    [Parameter]
    public int NoOfColumns { get; set; } = 3;

    [Parameter]
    public int FontSize { get; set; } = 5;
}

<style>
#cssvariables_@Id {
    --bg: @BackgroundColour;
    --fg: @ForegroundColour;
    --no-of-columns: @NoOfColumns;
    --font-size: @(FontSize)px;
}
</style>
