<div class="grid-@(BoggleTray.Height) bg-gradient-warning m-auto rounded user-select-none" @oncontextmenu:preventDefault>
	@foreach (var slot in Reverse ? BoggleTray.Slots.Reverse<BoggleSlot>() : BoggleTray.Slots)
	{
		<BoggleSlotUI Selected="@slot.IsSelected"
					  Slot="slot"
					  ArrowDirection="@slot.ArrowDirection"
					  OnClickCallback="e => SelectSlot(e, slot)" />
	}
</div>

