@page "/boggle"
@page "/boggle/{boggleType}"
@page "/boggle/{NoOfPlayers:int}"
@page "/boggle/{boggleType}/{NoOfPlayers:int}"
<div class="row my-auto">
    <button class="btn btn-primary w-80" @onclick="() => StartNewGame()" >New Game</button>
</div>
<div class="row my-auto mt-2">
    <div class="mt-xl-2 d-flex @(NoOfPlayers == 1 ? "col-xl" : "col-xl-auto mr-xl-auto")">
        <BoggleBoard BoggleTray="BoggleTray" />
    </div>
    @if (NoOfPlayers == 2)
    {
        <br />
        <div class="d-flex col-xl-auto mt-xl-2 mt-5">
            <BoggleBoard BoggleTray="BoggleTray" Reverse="true" />
        </div>
    }
</div>
@*<div class="row my-auto">
    <CountdownTimer Heading="Timer" ShowHours="false" Start="new(0,3,0)" />
</div>
*@

@code {
    public Smab.Boggle.Models.BoggleTray BoggleTray { get; set; } = new();
    public BoggleDice.BoggleType BoggleSetType { get; set; } = BoggleDice.BoggleType.Classic4x4;

    [Parameter]
    public int NoOfPlayers { get; set; } = 1;
    [Parameter]
    public string boggleType { get; set; } = "classic";

    protected override void OnParametersSet()
    {
        if (NoOfPlayers == 0) {
            NoOfPlayers = 1;
        };
        BoggleSetType = boggleType?.ToLowerInvariant() switch
        {
            "classic"       => BoggleDice.BoggleType.Classic4x4,
            "deluxe"        => BoggleDice.BoggleType.BigBoggleDeluxe,
            "superbig"      => BoggleDice.BoggleType.SuperBigBoggle2012,
            "new"           => BoggleDice.BoggleType.New4x4,
            "bigoriginal"   => BoggleDice.BoggleType.BigBoggleOriginal,
            "challenge"     => BoggleDice.BoggleType.BigBoggleChallenge,
            _               => BoggleDice.BoggleType.Classic4x4
        };
        StartNewGame();
    }

    protected void StartNewGame()
    {
        BoggleTray = new(BoggleSetType);
        // ToDo: Reset timer
        // ToDo: Reset Words on board

    }
}
