@using smabPlayground2020.Shared.PlexInfo.Models

@if (Role is not null)
{
    <div class="card h-100 m-1 cast-card">
        <div class="card-header text-center">
            @if (String.IsNullOrWhiteSpace(Role.Thumb))
            {
                <img src="/images/head-and-shoulders.png" class="cast-no-photo" />
            }
            else
            {
                <img src="@(Role.Thumb)" loading="lazy" class="cast-photo" />
            }
        </div>
        <div class="card-body text-center">
            <div class="card-text font-weight-bold">@Role.Tag</div>
            @if (!String.IsNullOrWhiteSpace(Role.Role))
            {
                <div class="card-text font-italic">@Role.Role</div>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public RoleSubitem? Role { get; set; }
}
