@page "/plex/details/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using smabPlayground2020.Shared.PlexInfo.Models
@attribute [Authorize]
@inject HttpClient Http


@if (item == null)
{
    <h1>Item Detail @Id</h1>
    <p><em>Loading...</em></p>
}
else
{
    <h1>@item.MediaContainer.Metadata.FirstOrDefault().Title</h1>
    <h4>Add on: @item.MediaContainer.Metadata.FirstOrDefault().AddedAt.ToString("yyyy-MM-dd")</h4>

    <p>@item.MediaContainer.Metadata.FirstOrDefault().Summary</p>
    
}

@code {

    private LibraryItem? item { get; set; }

    [Parameter] public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            item = await Http.GetFromJsonAsync<LibraryItem>($"api/PlexInfo/item/{Id}");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
