$THUMB_WIDTH: 200px;
$THUMB_HEIGHT: 300px;


.movie-card {
    min-width: $THUMB_WIDTH;
    max-width: $THUMB_WIDTH;

    > img {
        width: $THUMB_WIDTH;
        height: $THUMB_HEIGHT;
        /* border-radius: 90px;*/
    }

    a {
    }

    > .card-body {
        // height: calc( $THUMB_HEIGHT / 3);
    }
}
