@import "common.scss";

.card {
    min-width: $THUMB_WIDTH + 2px;
    max-width: $THUMB_WIDTH + 2px;
    height: $THUMB_HEIGHT + 50px;
    margin-right: .25rem;
    margin-bottom: .25rem;
    
    img {
        width: $THUMB_WIDTH;
        height: $THUMB_HEIGHT;
        /*border-radius: $THUMB_WIDTH / 5;*/
    }

    .card-body {
        line-height: 1.5;
        padding: 0.2rem;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }

    .card-title {
        margin: 0;
    }
}

