<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">smabPlayground2020</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-fa"><i class="fa-fw fas fa-home" aria-hidden="true"></i></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sf">
                <span class="oi oi-calendar" aria-hidden="true"></span> Syncfusion
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="boggle" Match="NavLinkMatch.All">
                <span class="nav-fa"><i class="fa-fw fas fa-th" aria-hidden="true"></i></span> Boggle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="boggle/superbig" Match="NavLinkMatch.All">
                <span class="nav-fa"><i class="fa-fw fas fa-th" aria-hidden="true"></i></span> Boggle Super Big
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="plex/libraries">
                <span class="nav-fa"><i class="fa-fw fas fa-photo-video" aria-hidden="true"></i></span> Libraries
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="plex/movies">
                <span class="nav-fa"><i class="fa-fw fas fa-film" aria-hidden="true"></i></span> Movies List
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="plex/details/94588">
                <span class="nav-fa"><i class="fa-fw fas fa-ticket-alt" aria-hidden="true"></i></span> Marnie
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="plex/details/7464">
                <span class="nav-fa"><i class="fa-fw fas fa-plane" aria-hidden="true"></i></span> Airplane!
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="plex/details/95134">
                <span class="nav-fa"><i class="fa-fw fas fa-microphone-alt" aria-hidden="true"></i></span> Eurovision ...
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="plex/tv">
                <span class="nav-fa"><i class="fa-fw fas fa-tv" aria-hidden="true"></i></span> TV List
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="plex/details/90081">
                <span class="nav-fa"><i class="fa-fw fab fa-reddit-alien" aria-hidden="true"></i></span> My Favorite Martian
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="plex/details/90084">
                <span class="nav-fa"><i class="fa-fw fab fa-reddit-alien" aria-hidden="true"></i></span> Season 1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="plex/details/90088">
                <span class="nav-fa"><i class="fa-fw fab fa-reddit-alien" aria-hidden="true"></i></span> Episode 1-4
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
