@inject SmabJsInterop smabJs
@page "/cookie"

<button class="btn btn-primary" @onclick="SetCookie">Set</button>
<button class="btn btn-primary" @onclick="ReadCookieAsync">Read</button>
<button class="btn btn-primary" @onclick="DeleteCookie">Delete</button>

<h1>@CookieValue</h1>


@code {

    public string CookieValue { get; set; } = "";

    protected void SetCookie() {
        smabJs.CreateCookie("CookieTest", "This is a test for reading and writing cookies");
    }

    protected void DeleteCookie() {
        smabJs.DeleteCookie("CookieTest");
    }
    
    protected async void ReadCookieAsync() {
        CookieValue = await smabJs.ReadCookie("CookieTest");
        StateHasChanged();
    }

}