@page "/"
<PageTitle>Home - smabPlayground2020</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app running on <em>.NET 6.0 Preview 7</em>.

<SurveyPrompt Title="How is Blazor working for you?" />
