.card {
  min-width: 202px;
  max-width: 202px;
  height: 370px;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  border: none;
}
.card img {
  width: 200px;
  height: 300px;
  border-radius: 40px;
}
.card a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.card a:hover {
  text-decoration: underline;
}
.card .card-body {
  line-height: 1.5;
  padding: 0.2rem;
}

input[type=checkbox] {
  position: absolute;
  opacity: 0%;
  cursor: pointer;
  height: 10%;
  width: 17%;
  top: 0;
  left: 0;
  border-color: transparent;
  border-radius: 50%;
}
input[type=checkbox]:hover {
  opacity: 60%;
}
input[type=checkbox]:checked {
  opacity: 100%;
}
